* {
    margin: 0px;
    padding: 0px;
    
}
body{
    font-family: 'Dancing Script', cursive;
}
/* 1 */
#header {
    width: 1350px;
    height: 730px;
    background-image: url(../Back1.jpg);
    background-color:#ffffff;
}
#Logo{
    width: 1100px;
    height: 140px;
    float: left;
}

#Logo a img{
    width: 290px;
    height: 170px;
    margin-left: 70px;
}
#wrap{
    width: 1350px;
    height: 150px;
    
}

#Menu{
    width: 250px;
    height: 140px;
    float: left; 
}
#Menu ul{
    list-style-type: none;
    padding-top: 50px;
    color:  #6ea7da;
    font-size: 25px;
}
#Menu ul li{
    display: inline;
    padding: 5px 10px;
    font-size: 17px;
}
#Menu ul li a{
    text-decoration: none;
    color:  #6ea7da;
}
#Menu ul li a:hover{
    color: #1c73c1;
}

/* Slider */
#Introduc{
    width: 340px;
    height: 70px;
    margin: auto;
    font-size: 55px;
    color: #111111;
    margin-top: -20px;
}

/* Banner */
#Banner{
    width: 1350px;
    height: 780px;
    background-color: #ffffff;
}
#Box{
    width: 1140px;
    height: 780px;
    margin: auto;
    text-align: center;
}
#Box0{
    width: 930px;
    height: 680px;
    margin: auto;
    padding: 50px;
}
#Box1{
    width: 930px;
    height: 340px;
    text-align: left;
    display: flex;
}
#Box1_1{
    width: 310px;
    height: 330px;
    background-color: #000000;
}
.Box1_1_1{
    padding: 30px;
    font-size: 24px;
    color:#ffffff;
}
.Box1_1_1 h2{
    margin-top: 20px;
}
/*  */
#Box1_2{
    width: 310px;
    height: 330px;
    text-align: center;
}
#Box1_2 div{
    padding: 30px;
    font-size: 24px;
}
#Box1_2 div{
    word-spacing: 2px;
}

#Box1_3{
    width: 310px;
    height: 330px;
    
}
#Box2{
    width: 930px;
    height: 340px;
    text-align: left;
    display: flex;
}
#Box1_4{
    width: 310px;
    height: 330px;
}
.Box1_4_1{
    padding: 30px;
}
.Box1_4_1 h3{
    word-spacing: 3px;
}
#Box1_5{
    width: 310px;
    height: 330px;
}
#Box1_5 div img{
    width: 310px;
    height: 330px;
}
#Box1_6{
    width: 310px;
    height: 330px;
}
.Box1_6_1{
    padding: 30px;
}
.Box1_6_1 h3{
    word-spacing: 3px;
}

/* Banner2 */
#Banner2{
    background-image: url(./Back2.jpg);
    width: 1350px;
    height: 600px;
    background-position: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}
#txtSearch{
    width: 500px;
    height: 360px;
    float: right; 
    padding: 100px;
}
#txtSearch p{
    margin-top: 50px;
    width: 100%;
    font-size: 45px;
}
#txtSearch h2{
    text-align: center;
    font-size: 20px;
}

/* toolSearch */
#toolSearch{
    width: 500px;
    height: 230px;
    margin-top: 60px;

}
.search {
    width: 500px;
    position: relative;
    display: flex;
}
  
.searchTerm {
    width: 100%;
    border: 3px solid #1c73c1;
    border-right: none;
    padding: 5px;
    height: 25px;
    border-radius: 7px 0 0 7px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm:focus{
    color: #1c73c1;
}
  
.searchButton {
    width: 100px;
    height: 41px;
    border: 1px solid #1c73c1;
    background: #1c73c1;
    text-align: center;
    color: #fff;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    font-size: 20px;
}
/*  */
h1 {
    display: flex;
    flex-direction: row;
    color: #1d71ab;
}
h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 3px solid #1d71ab;
    margin: auto;
}
h1:before {
    margin-right: 50px;
}
h1:after {
    margin-left: 50px;
}
/* Menu */
#Title{
    width: 1240px;
    height: 50px;
}
#MenuDog{
    width: 1240px;
    height: 100px;
}
#MenuDog div{
    width: 1200px;
    height: 70px;
    margin: 25px;
}
#MenuDog div ul {
    text-align: center;
}
#MenuDog div ul li{
    text-decoration: none;
    display: inline-block;
    padding: 2px;
}
#MenuDog div ul li a{
    text-decoration: none;
    color: #000000;
}
#MenuDog div ul li a i{
    width: 10px;
    height: 10px;
}
#MenuDog div ul li a:hover{
    color: #e7aa71;
}
#MenuDog div ul li a i{
    padding: 22px;
}
/* Dog */
#Dog
{
    width: 1350px;
    height: 1700px;
}
#Style_Dog{
    width: 1250px;
    height: 1700px;
    margin: auto;
}
/* Dog List */
#List_pet_dog
{
    width: 1240px;
    height: 1700px;   
}

.DOG{
    width: 290px;
    height: 360px;
    border-radius: 4px;
    float: left;
    margin: auto 10px;
}
.DOG a img{
    transition: all 0.3s ease-in-out;
}
.DOG a img:hover{
    transform: scale(1.1);
    border: 1px solid #1d71ab;
    border-radius: 4px;
}
.DOG a img{
    border-radius: 4px;
    width: 290px;
    height: 295px;
}
.DOG p {
    font-size: 16px;
    text-align: center;
}
.DOG a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #9c9c9c;
}
.DOG a:hover{
    transform: scale(1.1);
    color: #000000;
    font-size: 20px;
}

/* Banner3 */
#Banner3{
    width: 1350px;
    height: 600px;
    background-color: #e5e5e5;
}
#Banner_3_1{
    margin: auto;
    width: 1200px;
    height: 600px;
    display: flex;
}
#Banner_Text1{
    width: 400px;
    height: 600px;
}
#Banner_Text1_1{
    margin-top: 300px;
    padding: 30px;
}
#Banner_Text1_1 h4{
    margin-left: 52px;
}
#Banner_Text2{
    width: 400px;
    height: 600px;
}
#Banner_Text2 img{
    width: 400px;
    height: 600px;
}
#Banner_Text3{
    width: 400px;
    height: 600px;
}
#Banner_Text3 div{
    padding: 30px;
    margin-top: 100px;
}
#Banner_Text3 div p{
    padding: 30px;
    word-spacing: 3px;
}
/* toolSearch2 */
#toolSearch2{
    width: 350px;
    height: 50px;
    margin-top: 40px;
}
.search2 {
    width: 350px;
    position: relative;
    display: flex;
}
  
.searchTerm2 {
    width: 100%;
    border: 3px solid #e7aa71;
    border-right: none;
    padding: 5px;
    height: 25px;
    border-radius: 7px 0 0 7px;
    outline: none;
    color: #9DBFAF;
}
  
.searchTerm2:focus{
    color: #e7aa71;
}
  
.searchButton2 {
    width: 100px;
    height: 41px;
    border: 1px solid #e7aa71;
    background: #e7aa71;
    text-align: center;
    color: #fff;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    font-size: 20px;
}

/* CAT */
.CAT{
    width: 290px;
    height: 360px;
    border-radius: 4px;
    float: left;
    margin: auto 10px;
}
.CAT a img{
    transition: all 0.3s ease-in-out;
}
.CAT a img:hover{
    transform: scale(1.1);
    border: 1px solid #1d71ab;
    border-radius: 4px;
}
.CAT a img{
    border-radius: 4px;
    width: 290px;
    height: 295px;
}
.CAT p {
    font-size: 16px;
    text-align: center;
}
.CAT a{
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #9c9c9c;
}
.CAT a:hover{
    transform: scale(1.1);
    color: #000000;
    font-size: 20px;
}

#Cat
{
    width: 1350px;
    height: 1300px;
}
#Style_Cat{
    width: 1250px;
    height: 1250px;
    margin: auto;
}
.span_h3_cat
{
    color: #e7aa71;
}
#Name_Pet1
{
    width: 1250px;
    height: 40px;
    margin: auto;
}
#Name_Pet1 a
{
    text-decoration: none;
}
#Menu_pet_cat
{
    width: 1250px;
    height: 120px;
    text-align: center;
}
#Menu_pet_cat li a{
    text-decoration: none;
    color: #1c73c1;
}
#Menu_pet_cat ul li
{
    list-style-type: none;
    padding: 40px 20px;
    display: inline-block;
}
#Menu_pet_cat li a:hover
{
    color: #6ea7da;
}
#Menu_pet_cat i{
    padding: 10px;
}
/* List Pet Cat */
#List_pet_cat
{
    width: 1250px;
    height: 1100px; 
}
/* footer */
footer
{
    width: 1355px;
    height: 300px;
    background-color: #1c1c1d;
    display: flex;
}
#col1{
    width: 270px;
    height: 200px;
    margin-left: 30px;
    margin-top: 30px;
}
.child_col1 ul li {
    list-style-type: none;
    padding: 7px;
}
.child_col1 ul li a{
    text-decoration: none;
    color: #ffffff;
}
#col2{
    width: 250px;
    height: 200px;
    margin-top: 30px;
}
.child_col2 ul li {
    list-style-type: none;
    padding: 7px;
}
.child_col2 ul li a{
    text-decoration: none;
    color: #ffffff;
}
#col3{
    width: 270px;
    height: 200px;
    margin-top: 30px;
}
.child_col3 ul li {
    list-style-type: none;
    padding: 7px;
}
.child_col3 ul li a{
    text-decoration: none;
    color: #ffffff;
}
.child_col2_ullia{
    font-size: 12px;
}
.child_col2_ullia:hover{
    color: #1c73c1;
}
/* End */
#End{
    width: 1355px;
    height: 50px;
    background-color: #1c1c1d;
}
#End p{
    margin-left: 30px;
    color: #ffffff;
}
#End2{
    width: 1355px;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
}#End2 p{
    margin-top: 15px;
}
