*{
    margin: 0px;
    padding: 0px;
    
}
body{
    font-family: 'Dancing Script', cursive;
}
div{
    width: 1355px;
    height: 80px;
}
div p{
    font-size: 25px;
    padding: 25px 50px;
    
}
div a{
    color: #bbbbbb;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
div a:hover{
    font-size: 35px;
    transform: scale(1.1);
    color: #e79531;
}
.form1{
    width: 1355px;
    height: 800px;
    background-image: url(./BackgDog.jpg);
    background-size:cover;
}
.Logo{
    display: block;
    font-size: 50px;
    margin-left: 10%;
}
label
{
    display: block;
    padding: 5px;
    color: #ffffff;
    display: block;
    font-size: 25px;
    margin-left: 50px;
}
.input1{
    margin-left: 70px;
    font-size: 20px;
}
.input{
    margin-left: 70px;
    width: 300px;
    border: 2px solid #e79531;
    border-radius: 15px;
    height: 30px;
    font-size: 20px;
}
button{
    margin-left: 13%;
    margin-top: 20px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 18px;
    color: #e79531;
    border: 2px solid #e79531;
}
button:hover{
    background-color: #e79531;
    color: #ffffff;
}

/* ShowListDog */
#ShowListDog
{
    width: 1355px;
    height: 2000px;
    background-color: #bbbbbb;
}
#ShowListDog table th h1{
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    color: #185875;
}
#ShowListDog table td h1{
    text-align: center;
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}
table{
    text-align: left;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    display: table;
    padding: 5em 0 8em 0;
}
/* Background-color of the odd rows */
table tr:nth-child(odd) {
    background-color: #323C50;
}
/* Background-color of the even rows */
table tr:nth-child(even) {
    background-color: #2C3446;
}

table th {
    background-color: #1F2739;
}

/* table td:first-child { color: #FB667A; } */

table tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

table td:hover {
    background-color: #e79531;
    color: #403E10;
}

.form2{
    width: 1355px;
    height: 800px;
    background-image: url(./BG1.jpg);
    background-size: cover;
}
.form3{
    width: 1355px;
    height: 800px;
    background-image: url(./vv/Fr.jpeg);
    background-size: cover;
}


